<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/find_auth.css') }}"
    />
  </head>
  <body>
    <h1>비밀번호 찾기</h1>
    <form
      action="{{ url_for('auth.find_password') }}"
      method="post"
      class="find_id_form"
    >
      <label for="userId" class="find_password_label">아이디</label>
      <input type="text" id="userId" name="userId" id="find_password_label_id" required />

      <label for="find_password" class="find_password_label"
        >비밀번호 찾기 질문</label
      >
      <select name="find_password" id="find_password" required>
        <option value="1">가장친한 친구이름</option>
        <option value="2">졸업한 초등학교이름</option>
        <option value="3">좋아하는 동물</option>
        <option value="4">좋아하는 색깔</option>
      </select>

      <label for="find_password_answer" class="find_password_label">답변</label>
      <input
        type="text"
        id="find_password_answer"
        name="find_password_answer"
        required
      />

      <button type="submit" class="find_password_button">비밀번호 찾기</button>
    </form>

    {% if error %}
    <p class="find_password_error">{{ error }}</p>
    {% endif %}

    <div class="find_id_links">
      <a href="{{ url_for('auth.login') }}">로그인 페이지로 돌아가기</a>
      <a href="{{ url_for('home') }}">홈으로 돌아가기</a>
      <a href="{{ url_for('auth.find_id') }}">아이디 찾기</a>
    </div>
  </body>
</html>
